* {
  font-family: courier;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  width: 20%;
}

.table {
  /* margin:100px 0 0 0px; */
  margin-top: 0%;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

.footer-links {
  margin: 5px;
}

.footer {
  position: absolute;
  top: 0px;
  left: 0px;
}

.color-box {
  float: middle;
  background-color: rgba(0, 0, 0, 0.8);
  height: auto;
  padding: 1%;
  font-size: 20px;
}
