* {
  font-family: courier;
}

div {
  border: 0px solid gray;
  margin-left: 10%;
  margin-right: 30%;
  margin-bottom: 10%;
}

h1 {
  text-align: left;
  text-transform: uppercase;
  color: black;
  margin-left: 10%;
}

h2 {
  color: black;
  font-size: 22px;
  text-decoration: underline;
}

h3 {
  color: black;
  margin-left: 10%;
  font-size: 1.5em;
}

text {
  font-size: 16px;
  line-height: 1.5em;
}
